name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          
          # AQUI ESTÁ A MUDANÇA: Adicionamos color_dots=#00000000 para tornar o fundo transparente
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_dots=#00000000
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_dots=#00000000

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
